<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret ny medarbejder</title>
</head>
<body>
<h1>Tilføj ny medarbejder</h1>
    <form action="/employees/create" method="post">
        <input type="text" name="name" placeholder="navn">
        <input type="email" name="email" placeholder="email">
        <input type="text" name="password" placeholder="password">
        <!-- TODO: opret dropdown -->
        <input type="text" name="role" placeholder="role">
        <button type="submit">Opret</button>
    </form>
</body>
</html>